/////////////////////////
// CORE / OBJECTS / BENTO
/////////////////////////


.dcf-bento {
  display: grid;
}

.dcf-bento-flow-dense {
  grid-auto-flow: dense;
}

.dcf-bento-flow-col {
  grid-auto-flow: column;
}

.dcf-bento-flow-row {
  grid-auto-flow: row;
}

.dcf-bento-flow-col-dense {
  grid-auto-flow: column dense;
}

.dcf-bento-flow-row-dense {
  grid-auto-flow: row dense;
}

.dcf-bento-cols-auto {
  grid-auto-columns: minmax(0, 1fr);
  grid-template-columns: none !important;
}

.dcf-bento-rows-auto {
  grid-auto-rows: minmax(0, 1fr);
  grid-template-rows: none !important;
}


@for $i from 1 through $bento-max-count {

  .dcf-bento-col-span-#{$i} {
    grid-column: span #{$i} / span #{$i};
  }

  .dcf-bento-row-span-#{$i} {
    grid-row: span #{$i} / span #{$i};
  }

  .dcf-bento-cols-#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }

  .dcf-bento-rows-#{$i} {
    grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
  }

}
